@import "tailwindcss";

@import "./themes/default.css" layer(theme);

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);
}

@layer base {
  html,
  body{
    @apply min-h-screen;
  }
}
